/*Login Page*/

/*video*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/*upper right hand log in button*/
#login-button {
	float: right;
	position: relative;
	z-index: 101;
	margin-right: 150px;
	margin-top: 20px;
	padding: 0px 9px 0px 9px;
}

/*module*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
}

button, input, a, p, span {
	font-family: 'Muli', sans-serif;
}

/*Facebook and Google Buttons*/
.signin {
	margin-left: 9px;
	margin-right: 9px;
}

#facebook-btn {
	padding-left: 9px;
	padding-right: 9px;
}

.form-group {
	margin-left: 25px;
	margin-right: 25px;
}

#addUser {
	background-color: #e56746;
	color: white;
	margin-left: 25px;
	margin-right: 25px;
	border: none;
}

#modal-login {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 30%;
	transform: translate(-50%, -50%);
}

#login-logo {
	display: block;
    margin: auto;
    width: 35%;
    height: 35%;
}

#modal-login-label {
	font-weight: bold;
}

/*responsive*/
@media only screen and (max-width: 1428px) {
	.signin {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media only screen and (max-width: 1308px) {
	#facebook-btn {
		margin-bottom: 10px;
	}
}